.aboutus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    background-image: url("../img/aboutus__background.jpg");
    background-size: 100%;
}

.aboutus__right,
.aboutus__left,
.aboutus__right>div,
.aboutus__svg,
.aboutus__svg>div,
/* div:has(.aboutus__button) */ { 
    display: grid;
    place-items: center;
}

.aboutus__left {
    place-items: center end;
}

.aboutus__left>img {
    width: 30vw;
    max-width: 1000px;
}

.aboutus__right svg{
    max-width: var(--svg-max-width);
}

.aboutus__right>div{
    place-items: center start;
    gap: 1.2rem;
}

.aboutus__title{
    font-size: 20px;
    font-family: "Permanent Marker";
    color: var(--title-color);
    font-weight: 500;
}

.aboutus__subtitle{
    font-size: 56px;
    font-family: 'Rubik', sans-serif;
    color: #282623; 
    font-weight: 900;
}

.aboutus__svg{
    grid-template-columns: repeat(3,auto);
    gap: 1rem;
}

.aboutus__svg>div {
    grid-template-columns: repeat(2,auto);
    gap: 0.5rem;
}

/* div:has(.aboutus__button) {
    width: 100%;
} */

.aboutus__button {
    background-color: var(--title-color);
    color: white;
    font-size: 16.5px;
    padding: 1rem;
    border-radius: 30px;
}
.aboutus__button:hover {
    background-color: var(--subtext-color);
}

@media (orientation: portrait) {
    .aboutus {
        grid-template-columns: none;
        grid-template-rows: repeat(2, auto);
    }
    .aboutus__left {
        place-items: center;
    }
    .aboutus__left>img {
        width: 100vw;
    }
    .aboutus__right{
        padding: 1rem
    }
}