@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"); /*  font-family: 'Permanent Marker', cursive;  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"); /*  font-family: 'Lato', sans-serif;   */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap"); /* font-family: 'Rubik', sans-serif;  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
}

h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}

:root {
  --title-color: rgb(231, 49, 35);
  --subtitle-color: rgb(69, 69, 69);
  --text-color: rgb(103, 103, 103);
  --subtext-color: rgb(40, 38, 35);
  --footer-background-color: #272622;
  --button-text-color: #ffffff;
  --icon-color: #fbbe36;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

img {
  /* width: 100%; */
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
}
