.header {
	background-image: url(../img/header--banner-cover.jpg);
	background-size: cover;
	background-position: 13%;
}

.header__container {
	padding: 0 24px;
}

.header__contacts {
	max-width: 100%;
	display: none;
}

.header__contacts-info {
	color: var(--subtitle-header-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
}

.header__nav {
	height: 105px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav-burger {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__burger {
	display: block;
	position: relative;
	width: 24px;
	height: 16px;
	padding: 6.5px;
	cursor: pointer;
	z-index: 5;
}

.header__burger span,
.header__burger::after,
.header__burger::before {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--animation-button-color);
	transition: all 0.5s ease-in-out;
}

.header__burger span {
	transform: scale(1);
}

.header__burger::after,
.header__burger::before {
	content: " ";
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger.active {
	transform: scale(0);
}

.header__burger.active::before {
	top: 50%;
	transform: rotate(-45deg);
}

.header__burger.active::after {
	bottom: 40%;
	transform: rotate(45deg);
}

.header__logo {
	height: 43px;
	width: 232px;
}

.header__wrapper {
	display: none;
}

.header__icons {
	width: 126px;
	display: flex;
	justify-content: space-around;
}

.header__title {
	font-family: "Permanent Marker", cursive;
	font-size: 16px;
	font-weight: 400;
	color: var(--title-color);
}

.header__slogan {
	font-family: var(--subtitle-font);
	font-weight: 700;
	color: var(--subtitle-header-color);
	font-size: 2.5rem;
}

.header__text {
	font-family: var(--font-family);
	font-size: 0.8rem;
	color: var(--subtext-color);
	font-weight: 700;
	line-height: 30px;
}


.header__order-button {
	color: var(--subtitle-header-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16.5px;
}

.header__call-icon {
	width: 40px;
	height: 40px;
}

.header__phone {
color: var(--subtitle-header-color);
font-family: var(--font-family);
font-weight: 700;
font-size: 17px;
}

.header__call-phone {
color: var(--subtext-color);
}



@media (min-width: 380px) {
	.header__logo {
		height: 47px;
		width: 252px;
	}
}

@media (min-width: 992px) {
	.header__container {
		padding: 0 40px;
	}

	.header__contacts {
		font-size: 15px;	
		line-height: 21px;
		height: 51px;
		display: flex;
		font-size: 16px;
		justify-content: space-between;
		align-items: center;
		color: var(--subtitle-header-color);
		background-color: var(--background-header-color);
	}

	.header__email {
	color: var(--subtitle-header-color);
	}
	.header__burger {
		display: none;
	}

	.header__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__logo {
		width: 173px;
		height: 72px;
	}

	.header__wrapper {
		width: 70%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header__wrapper-contacts {
		display: none;
	}

	.header__menu {
		width: 60%;
		display: flex;
		justify-content: space-around;
	}


	.header__title {
		font-size: 0.82em;
	}

}

@media (min-width: 1200px) {
	.header__logo {
		width: 215px;
		height: 40px;
	}
}