.hire__us-frame {
}

.hire__us-section {
  box-sizing: border-box;
  position: absolute;
  background-color: var(--button-text-color);
  margin-bottom: -500px;
  width: 272px;
  text-align: center;
  border-radius: 10px;
  padding-top: 50px;
  padding-top: 50px;
}

.hire__us-title {
}

.hire__us-subtitle {
  font-family: "Rubik", sans-serif;
  color: var(--subtext-color);
  font-weight: 700;
  font-size: 30px;
}

.hire__us-info {
  font-family: "Lato", sans-serif;
  color: var(--subtitle-color);
  font-weight: 700;
  font-size: 20px;
}

.hire__us-placeholder {
}

.hire__us-name {
  font-family: "Lato", sans-serif;
  color: var(--subtext-color);
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
  height: 40px;
  width: 202px;
  margin-top: 12px;
  padding: 11px 22px 11px 22px;
  position: relative;
  border-radius: 20px;
}

.hire__us-phone {
  font-family: "Lato", sans-serif;
  color: var(--subtext-color);
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
  height: 40px;
  width: 202px;
  margin-top: 12px;
  padding: 11px 22px 11px 22px;
  position: relative;
  border-radius: 20px;
}

.hire__us-email {
  font-family: "Lato", sans-serif;
  color: var(--subtext-color);
  font-weight: 400;
  font-size: 15px;
  box-sizing: border-box;
  height: 40px;
  width: 202px;
  margin-top: 12px;
  padding: 11px 22px 11px 22px;
  position: relative;
  border-radius: 20px;
}

.submit__button {
  font-family: "Lato", sans-serif;
  color: var(--button-color);
  font-weight: 700;
  font-size: 15px;
  background-color: rgb(231 39 45);
  box-sizing: border-box;
  height: 40px;
  width: 202px;
  margin-top: 12px;
  padding: 11px 22px 11px 22px;
  position: relative;
  border-radius: 20px;
}

.hire__us-button {
}


