.main__burgers {
    background: url(../img/burgers-background.jpg);
    background-size: cover;
}
.main__burgers-title { 
    font-size: 20px;
    text-align: center;
}

.main__burgers-subtitle {    
    font-family: "Rubik", sans-serif;
    font-size: 56px;
    font-weight: 400;
    text-align: center;
}
.main__burgers-text {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.burgers__carousel-slide {
    width: 206px;
    object-fit: cover;
    box-sizing: border-box;
    cursor: pointer; 
    
    
}
.main__burgers-carousel {
    display: inline-flex;
    width: auto;
}
.burgers__carousel-title {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    font-style: none;
    display: flex;
}
.burgers__carousel-text {
    color: var(--text-color);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    display: flex;
}
.burgers__carousel-price {
    color: rgb(231, 49, 35); 
    font-family: 'Rubik', sans-serif;    
    font-size: 36px;
    text-align: center;
    margin-top: 20px;
}
.discount__subtitle,
.salads__subtitle  {
    color: white;
    font-family:'Rubik', sans-serif; 
    font-weight: 700;
    font-size: 36px;
    
}
.discount{
    background: url(../img/discount-background.jpg);
    background-size: cover;
   
}
.salads {
    display: flex;
    background: url(../img/salads-background.jpg);
    
}
.actual__discount {
    background: #fcbe37
}