
.our__burgers-carousel-slides {
    min-height: 350px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;  

}
.our__burgers-carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.our__burgers-carousel-prev,
.our__burgers-carousel-next {
    color: #fbd47c;
    background-color:#fbf7ec;
    border:none;
    
}