.video__section{
    background-image: url(../img/video_background.jpg);
    background-size: cover;
    position: relative;
    min-width: 320px;
    display: block;
}

.icon__video{
    width: 70px;
    height: 70px;
    margin: 7.5px;
}

.video__title{
    font-size: 20px;
}

.video__content{
    margin-left: 74px;
    margin-right: 35%;
    padding-top: 200px;
    padding-bottom: 190px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-rows: minmax(320px, 1200px), 360px;
    justify-content: center;
}

.watch__video{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.video__subtitle{
    color: white;
    font-size: 56px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.video__slogan{
    color: #ADADAD;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 25px;
    text-align: justify;
}

.watch__video__text{
    color: white;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 7.5px;
}

@media (max-width: 770px) {
    .video__subtitle{
        font-size: 38px;
    }

    .video__title{
        font-size: 18px;
    }

    .video__content{
        padding-top: 110px;
        padding-bottom: 110px;
        padding-left: 24px;
        padding-right: 24px;
        margin: auto;
    }
}