.schedule {
    --schedule-background-color: #fcbe37;
    --schedule-left-title-color: white;
    background-color: var(--schedule-background-color);
    height: 480px;
}

.schedule__left {
    display: inline-block;
}

.schedule__left-title {
    color: var(--schedule-left-title-color);
    font-size: 56px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.schedule__right {
    display: inline-block;
}

.schedule__right-item {
    display: inline-block;
}

.schedule__left-call {
	width: 272px;
	height: 81px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.schedule__call-title {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: var(--subtitle-header-color);
}

.schedule__call-phone {
	color: var(--header-phone-color);
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	line-height: 25px;
}
.schedule__call-icon {
    width: 50px;
	height: 51px;
	margin-right: 15px;
}