.schedule {
    --schedule-background-color: #fcbe37;
    --schedule-left-title-color: #fff;
    --schedule-call-icon-background-color: rgb(239, 173, 24);
    background-color: var(--schedule-background-color);
    height: 480px;
    display: flex;
    position: static;
    min-width: 320px;
}

.schedule__left {
    border: 1px solid red;
    width: 380px;
    height: 380px;
    margin-left: 74px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    justify-content: center;
    display: inline-block;
}

.schedule__left-title {
    color: var(--schedule-left-title-color);
    font-size: 56px;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.schedule__left-call {
	width: 272px;
	height: 81px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.schedule__call-title {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 700;
	color: var(--subtitle-header-color);
}

.schedule__call-phone {
	color: var(--header-phone-color);
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	line-height: 25px;
}
.schedule__call-icon {
    width: 45px;
	margin-right: 15px;
    padding: 5px;
    background: var(--schedule-call-icon-background-color);
    border-radius: 50%;
}

.schedule__left-message {
    color: rgb(69, 69, 69);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 25px;
    text-align: justify;
}

.schedule__right {
    display: flex;
    width: 2250px;
    min-width: 320px;

}

.schedule__right-item {
    display: block;
    width: 280px;
    height: 320px;
    background-color: #fff;
    border: 1px solid red;
}
