.schedule {
  --schedule-background-color: #fcbe37;
  --schedule-left-title-color: #fff;
  --schedule-call-icon-background-color: rgb(239, 173, 24);
  --schedule-message-color: rgb(69, 69, 69);
  --schedule-button-color: #fff;
  --schedule-button-background-color:rgb(69, 69, 69);
  background-color: var(--schedule-background-color);
  height: 600px;
  position: static;
}

.schedule__left {
  width: 380px;
  height: 392px;
  position: relative;
  left: 180px;
  margin-right: 72px;
  padding-top: 100px;
  padding-bottom: 100px;
  vertical-align: baseline;
  justify-content: center;
  display: inline-block;
}

.schedule__left-title {
  color: var(--schedule-left-title-color);
  font-size: 56px;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 25px;
}

.schedule__left-call {
  width: 272px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.schedule__call-title {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: var(--subtitle-header-color);
}

.schedule__call-phone {
  color: var(--header-phone-color);
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 25px;
}
.schedule__call-icon {
  width: 45px;
  margin-right: 15px;
  padding: 5px;
  background: var(--schedule-call-icon-background-color);
  border-radius: 50%;
}

.schedule__left-message {
  color: var(--schedule-message-color);
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 25px;
  text-align: justify;
}

.schedule__right {
  display: inline-block;
  left: auto;
  width: auto;
  min-width: 320px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.schedule__right-item {
  left: 16px;  
  vertical-align: middle;
  height: 345px;
  width: 345px;
  border-radius: 6px;
  background-color: #fff;
  margin-left: 36px;
}




