.team {
    background-image: url(about-us-team-bg.jpg);
    object-fit: cover;
}
.team__txt {
    margin: 90px 30px;
}
.team__slogan {
    margin-top: 20px;
    font-family: var(--subtitle-font);
    font-size: 38px;
    font-weight: 700;  
}
.team__info {
    margin-top: 25px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700; 
    color: var(--font-color-checkboxtext);
    line-height: 30px;
}
.team__detail-info {
    margin-top: 20px;
    color: var(--request-inp-text-color);
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}
.team__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.team__name {
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    color: var(--subtext-color);
}
.team__proffesion {
    margin-top: 25px;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
}
.team__container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.team__bt {
    width: 20px;
    height: 20px;
    fill: var(--background-header-color);
}
@media (min-width: 770px) {
    .team__title {
        font-size: 18px;
    }
    .team__slogan {
        font-size: 47px;
    }
    .team__info {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .team__title {
        font-size: 20px;
    }
    .team__slogan {
        font-size: 56px;
    }
}