.team {
    background-image: url(/img/about-us-team-bg.jpg);
}
.team__txt {
    margin: 90px 30px;
}
.team__slogan {
    margin-top: 20px;
    font-family: var(--subtitle-font);
    font-size: 38px;
    font-weight: 700;  
}
.team__info {
    margin-top: 25px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700; 
    color: var(--font-color-checkboxtext);
    line-height: 30px;
}
.team__detail-info {
    margin-top: 20px;
    color: var(--request-inp-text-color);
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}
@media (min-width: 770px) {
    .team__title {
        font-size: 18px;
    }
    .team__slogan {
        font-size: 47px;
    }
    .team__info {
        font-size: 20px;
    }
}
@media (min-width: 992px) {
    .team__title {
        font-size: 20px;
    }
    .team__slogan {
        font-size: 56px;
    }
}