.header__background-bottom {
	background-image: url(../img/contacts/contacts__header-banner-bottom.svg);
	background-color: transparent;
	background-position: center;
	height: 10px;
	width: 100%;
	margin: -10px 0 0;
	}
	
	.header__container {
	padding: 0 24px;
	}
	
	.header__contacts {
	display: none;
	}
	
	.header__contacts-info {
	color: var(--subtitle-header-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 14px;
	}
	
	.header__nav-burger {
	height: 105px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	}
	
	.header__burger {
	display: block;
	position: relative;
	width: 24px;
	height: 16px;
	padding: 6.5px;
	cursor: pointer;
	z-index: 5;
	}
	
	.header__burger span,
	.header__burger::after,
	.header__burger::before {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--animation-button-color);
	transition: all 0.5s ease-in-out;
	}
	
	.header__burger span {
	transform: scale(1);
	}
	
	.header__burger::after,
	.header__burger::before {
	content: "";
	}
	
	.header__burger::before {
	top: 0;
	}
	
	.header__burger::after {
	bottom: 0;
	}
	
	.header__burger.active span {
	transform: scale(0);
	}
	
	.header__burger.active::before {
	top: 50%;
	transform: rotate(-45deg);
	}
	
	.header__burger.active::after {
	bottom: 40%;
	transform: rotate(45deg);
	}
	
	.header__logo {
	height: 43px;
	width: 232px;
	position: relative;
	z-index: 5;
	}
	
	.header__wrapper {
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-header-banner);
	z-index: 2;
	transition: top 0.3s ease-in 0.1s;
	padding: 15px 24px 50px;
	overflow: hidden;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	
	.header__wrapper.active {
	top: 0;
	}
	
	.header__menu {
	height: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
	margin-top: 90px;
	}
	
	.header__menu-item {
	color: var(--header-menu-item-color);
	font-family: var(--font-family);
	font-size: 17px;
	font-weight: 700;
	}
	
	.header__wrapper-contacts {
	height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
	}
	
	.header__email {
	color: var(--subtitle-header-color);
	}
	
	.header__icons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 120px;
	}
	
	body.lock {
	overflow: hidden;
	}

.header__title {
	font-size: 16px;
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	color: var(--title-color);
}

.header__slogan {
	font-family: var(--subtitle-font);
	font-weight: 700;
	color: var(--subtitle-header-color);
	font-size: 2.5rem;
}

.header__text {
	font-family: var(--font-family);
	font-size: 0.8rem;
	color: var(--subtext-color);
	font-weight: 700;
	line-height: 30px;
}


.header__order-button {
	color: var(--subtitle-header-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 16.5px;
}

.header__call-icon {
	width: 40px;
	height: 40px;
}

.header__phone {
	color: var(--subtitle-header-color);
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 17px;
}

.header__call-phone {
	color: var(--subtext-color);
}


.header__container-info {
	background-color: var(--header-background);
}

.header__slogan {
	font-family: 'Permanent Marker', cursive; 
	color: var(--title-color);
	font-size: 16px;
    font-weight: 400;
}

.header__name {
	font-family: var(--subtitle-font);
	color: var(--subtitle-header-color);
	font-size: 38px;
	font-weight: 400;
	margin-top: 20px;
}

.header__text {
	font-family: var(--font-family);
	color: var(--subtitle-header-color);
	font-size: 20px;
	font-weight: 700;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 50px
}

.header__title-container {
	padding: 80px 24px 65px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.header__title-name {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}

.header__contacts-items img {
	width: 64px;
}

.header__contacts-container {
	background-color: #fbf7ed;
}


.header__contacts-items {
	padding: 31px 27px 31px 27px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px white;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
	background-color: white;
	margin:50px;

}

.header__contacts-title {
	font-family: var(--subtitle-font);
	font-size: 24px;
	font-weight: 600;
	margin-top: 20px;

}

.header__contacts-subtitle {
	font-family: var(--font-family);
	font-size: 17px;
	font-weight: 400;
	color: var(--subtitle-color);
	margin-top: 20px;
}

.header__contacts-address {
	font-family: var(--font-family);
	font-size: 17px;
	font-weight: 700;
	color: var(--subtext-color);
	margin-top: 20px;
}

.header__contacts-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



@media (min-width: 380px) {
	.header__logo {
		height: 47px;
		width: 252px;
	}
}

@media (min-width: 768px) {
	.header__title-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.header__slogan {
		font-size: 18px;
	}

	.header__name {
		font-size: 47px;
	}

	.header__title-name {
		flex-basis: 41.6667%;
		display: flex;
	}

	.header__text-container {
		display: flex;
		flex-basis: 58.3333%;
		max-width: 58.3333%;
		align-items: center;
		
	}

	.header__text {
		margin: 0;
	}

	.header__contacts-container {
		display: flex;
		flex-direction: row;
	}

	}

@media (min-width: 992px) {
	.header__container {
		padding: 0 40px;
	}

	.header__contacts {
		font-size: 15px;
		line-height: 21px;
		height: 51px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--subtitle-header-color);
		background-color: var(--background-header-color);
	}

	.header__nav {
		height: 92px;
		display: flex;
		justify-content: space-between;
		align-items: center;
        background-color: #fbbe36;
	}

	.header__menu {
		width: 387px;
		height: 100%;
		margin: 0;
		padding: 0;
		flex-direction: row;
		justify-content: space-between;
	}

	.header__wrapper {
		background-color: transparent;
		position: relative;
		top: 0;
		transition: none;
		padding: 0;
		margin: 0;
		width: 70%;
		flex-direction: row;
		justify-content: space-between;
	}

	.header__wrapper-contacts {
		display: none;
	}

	.header__burger {
		display: none;
	}

	.header__logo {
		position: relative;
		width: 173px;
		height: 72px;
	}

	.header__title {
		font-size: 0.82em;
	}

}

@media (min-width: 1200px) {
	.header__logo {
		width: 215px;
		height: 40px;
	}

	.header__wrapper {
		width: 65%;
	}
}