.hire__txt {
    margin: 90px 30px;
}
.hire__slogan {
    margin-top: 20px;
    font-family: var(--subtitle-font);
    font-size: 38px;
    font-weight: 700;  
}
.hire__info {
    margin-top: 25px;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700; 
    color: var(--font-color-checkboxtext);
}
.hire__table {
    margin-top: 25px;
}
.hire__table-text {
    display: flex;
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 700;
    color: var(--font-color-checkboxtext);
    margin-bottom: 17px;
}
.hire__check {
    width: 20px;
}
.hire__check-text {
    margin-left: 10px;
}
.hire__detail-info {
    margin-top: 20px;
    color: var(--request-inp-text-color);
    font-family: var(--font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}